<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <add key="6.4" value="E:\QCS Projects\6.4\Builds" />
      <add key="6.7" value="E:\QCS Projects\6.7\Builds" />
      <add key="6.9" value="E:\QCS Projects\6.9\Builds" />
      <add key="6.10" value="E:\QCS Projects\6.10\Builds" />
      <add key="6.11" value="E:\QCS Projects\6.11\Builds" />
      <add key="7.0" value="c:\QCS Projects\7.0\Builds" />
   </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
   
   
</configuration>